.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: clamp(24px, calc(24vw/7.68), 32px);

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 560px) {
    grid-template-columns: 1fr;
  }
}