.wrapper{
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 840px) {
    flex-direction: column;
    text-align: center;
  }

  .title{
    max-width: 585px;
  }

  .text{
    max-width: 585px;
    margin-top: 24px;
  }

  img{
    max-width:100%;
    height: fit-content;
  }
}