.wrapper {
  position: relative;
  overflow: hidden;

  .content {
    display: grid;
    grid-template-columns: 484fr 690fr;
    gap: 32px;
    padding-top: 240px;
    position: relative;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;

      .svg {
        position: static;
        transform: unset;
        z-index: 1;
        left: unset;
        top: unset;
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }

  .blob {
    position: absolute;
    z-index: -1;
    top: 920px;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
    width: 1826px;
    height: 1841px;
  }

  h1 {
    margin-bottom: 24px;
  }

  .svg {
    left: 6%;
    top: 40%;
    position: absolute;
    filter: drop-shadow(0px 2px 8px rgba(92, 145, 178, 0.25));
    z-index: -1;
    transform: translate3d(0, 0, 0);
  }
}

.form {
  border-radius: 32px;
  border: 1px solid var(--light-blue-500, #0376be);
  background: var(--light-blue-100, #f8fcff);
  padding: 26px;

  display: grid;
  gap: 36px;
  position: relative;
}

.success {
  position: absolute;
  inset: -1px;
  z-index: 10;
  border-radius: 32px;
  border: 1px solid var(--light-blue-500, #0376be);
  background: var(--light-blue-100, #f8fcff);
  padding: 26px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  h2 {
    max-width: 484px;
  }
}
