.wrapper {
  .title {
    max-width: clamp(422px, calc(422vw / 7.68), 585px);
    margin-bottom: 24px;
    > * {
      letter-spacing: -0.92px;
    }
  }

  .text {
    columns: 2;
    column-gap: 12px;

    @media (max-width: 640px) {
      columns: unset;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(16px, calc(16vw / 7.68), 32px);
    margin-top: 32px;

    @media (max-width: 540px) {
      grid-template-columns: 1fr;
    }

    .item {
      border-radius: 16px;
      border: 1px solid var(--green-500, #03be86);
      background: var(--green-100, #f8fffd);
      padding: 20px 32px;
      text-align: center;
      margin-top: 0;
      font-weight: 500;
    }
  }
}
