.wrapper {
  .title {
    max-width: 484px;
  }

  .text {
    max-width: 484px;
    margin-top: 24px;
  }

  .subText {
    max-width: 484px;
    margin-top: 32px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 24px;

    @media (max-width: 864px) {
      grid-template-columns: 1fr;
    }

    .buttons {
      display: grid;
      gap: 12px;
      height: fit-content;

      button {
        display: block;
        padding: 20px 66px 20px 32px;
        text-align: left;
        font-weight: 500;
        position: relative;
        cursor: pointer;

        .button {
          position: absolute;
          right: 24px;
          top: 50%;
          transform: translateY(-50%);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #202123;

          &::after {
            content: '';
            width: 10px;
            height: 2px;
            background: #202123;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &::before {
            content: '';
            width: 2px;
            height: 10px;
            background: #202123;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          }

          &.active {
            &::before {
              transform: translate(-50%, -50%) rotateX(90deg);
            }
          }
        }

        &:nth-child(1) {
          border-radius: 16px;
          border: 1px solid var(--green-500, #03be86);
          background: var(--green-100, #f8fffd);
        }

        &:nth-child(2) {
          border-radius: 16px;
          border: 1px solid var(--yellow-500, #f9bc41);
          background: var(--yellow-100, #fffdf8);
        }
      }
    }

    .steps {
      display: grid;
      gap: 12px;
      height: fit-content;

      div {
        padding: 20px 14px 20px 24px;
        border-radius: 16px;
        border: 1px solid var(--green-500, #03be86);
        background: var(--green-100, #f8fffd);

        p {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          gap: 16px;
        }

        strong {
          color: var(--neutral-900, #202123);
          font-size: clamp(16px, calc(24vw / 7.68), 24px);
          font-weight: 700;
          line-height: 125%;
          letter-spacing: 0.36px;
        }

        img {
          margin-top: 16px;
          max-width: 100%;
          height: fit-content;
        }
      }
    }
  }
}
