.wrapper {
  position: relative;
  overflow: hidden;

  h1 {
    margin-top: 240px;
    margin-bottom: clamp(64px, calc(120vw/7.68), 180px);
    color: var(--navy-500, #273a78);
  }

  .blob {
    position: absolute;
    z-index: -1;
    top: 920px;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
    width: 1826px;
    height: 1841px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 48px;
  }

  .item {
    border-radius: 12px;
    background: var(--neutral-100, #fff);
    box-shadow: 0px 2px 8px 0px rgba(92, 145, 178, 0.25);
    height: fit-content;
    flex-grow: 1;

    > a {
      padding: 8px 24px;
      color: var(--neutral-100, #fff);
      border-radius: 12px;
      background: var(--navy-500, #273a78);
      box-shadow: 0px 2px 8px 0px rgba(92, 145, 178, 0.25);
      display: block;
      text-align: center;
    }

    .box {
      padding: 32px 24px 24px 24px;

      display: grid;
      gap: 32px;
      text-align: center;

      a{
        color: var(--neutral-900, #202123);
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.36px;
        text-decoration-line: underline;
      }
    }
  }
}
