.wrapper {
  background-color: var(--neutral-200, #efefef);
  position: relative;
  min-height: 944px;
  margin: 0 -78px;
  padding: 0 78px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .image {
    position: absolute;
    width: 100%;
    height: auto;
    right: -1px;
    bottom: -1px;
    z-index: 0;
    pointer-events: none;
    min-width: 1200px;
  }

  .content {
    max-width: 686px;
    position: relative;
    z-index: 1;

    .title {
      margin-bottom: 32px;

      > * {
        color: var(--navy-600, #1f2e60);
      }
    }

    .text {
      max-width: 500px;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;

    li {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
